body {
  font-family: "Jost", system-ui;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #b3b3b3;
}

.hero {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
  padding: 0 20px;
}

.hero img {
  width: 100%;
  height: auto;
  display: block; 
  position: center;
}

.hero h1 {
  position: absolute;
  top: 50%; 
  left: 50%;
  font-family: "Bebas Neue", sans-serif;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 25px;
  font-weight: bold; 
  text-shadow: 2px 2px #5a5b5c;
}

.byline-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
  padding: 0 20px;
}

.byline-column {
  width: 45%;
}

.text-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
  padding: 0 20px;
}

.text-column {
  width: 45%;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #4a4a4a;
}
p {
  color: #4a4a4a;
}

.jost-<uniquifier> {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
